Django==1.4.1
South==0.7.5
distribute==0.6.24
django-crumbs==0.5.0
django-pagination==1.0.7
html5lib==0.95
suds==0.4
xlrd==0.7.9
xlwt==0.7.4
recaptcha-client==1.0.6
djangorestframework==0.3.3
simplejson
rabbitmq-server
django-celery
