Django
South
django-crumbs
django-pagination
html5lib
suds
xlrd==0.7.9
xlwt==0.7.4
recaptcha-client==1.0.6
djangorestframework==0.3.3
simplejson
django-debug-toolbar
django-coverage
django-celery
coverage
