{% extends "base.html" %}

{% block css %}
    <style type="text/css">
        input.hk{
            font-weight: bold;
            text-align: center;
            width: 20px;
            background-color: transparent;
            margin: 0;
            padding: 0;
            border-radius: 0;
        }
        input.hk[value="T"] {
            color: rgb(70, 136, 71);
        }

        input.hk[value="K"] {
            color: rgb(58, 135, 173);
        }

        input.hk[value="TB"] {
            color: rgb(248, 148, 6);
        }

        input.hk[value="Y"] {
            color: rgb(185, 74, 72);
        }
    </style>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('input[type=radio]').change(function () {
                window.location.href = "/school/xepLoaiHlTheoLop/" + {{selectedClass.id}} + "/" + this.value;
            });
            //document.getElementById({{termNumber}}).checked = true;
            $("#{{ termNumber }}").addClass('active');

            function getval(inp) {
                if (inp == 'B' || inp == 'b') return 'TB';
                return inp.toUpperCase();
            }

            $("input[type=text]").each(function () {
                $(this).on('keyup', function (event) {
                    var $this = $(this).parent("td");
                    var cellIndex = $this.index();
                    if (event.keyCode == 40 || event.keyCode == 13 || event.keyCode == 39) {
                        $this.closest('tr').next().children().eq(cellIndex).find("input").focus();
                        return false;
                    }

                    if (event.keyCode == 38 || event.keyCode == 37) {
                        $this.closest('tr').prev().children().eq(cellIndex).find("input").focus();
                        return false;
                    }

                    if ($(this).val().length > 1) $(this).val($(this).val().substring(0, 1));
                    $(this).val($(this).val().replace(/[^TKBYtkby]/gi, ''));
                    $(this).attr('value', $(this).val());
                });

                $(this).blur(function () {
                    var $this = $(this);
                    var old_value = $this.attr('data-old-value');
                    var id = $this.parents("tr").attr('class').split(' ')[0];
                    var value = getval($this.val());
                    $this.val(value);
                    $this.attr('value', $this.val());
                    var name='year';
                    {% ifnotequal termNumber  3 %}
                        name='term' + '{{ termNumber }}';
                    {% endifnotequal %}

                    var data = { id:id, val:value, request_type:name};
                    var arg = { type:"POST",
                        url:"{% url 'hanh_kiem' selectedClass.id %}",
                        data:data,
                        datatype:"json",
                        success:function(json){
                            $("#notify1").showNotification(json.message, 3000);
                            $this.attr('data-old-value', value);
                        },
                        error:function () {
                            $("#notify1").showNotification("Có lỗi kết nối xảy ra. Vui lòng thử loai", 3000);
                        }
                    };
                    if (value != old_value) {
                        $.ajax(arg);
                    }
                    return false;

                });
            });
        });
    </script>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb selectedClass 'class_detail' selectedClass.id %}
    {% add_crumb 'Tổng kết điểm' %}
{% endblock %}

{% block content %}
    <div class="notify-widget-pane">
        <div class="notify" id="notify1" style="display: none;">
        </div>
    </div>

    {% load mark %}

    <div class="form-inline pagination-centered" data-toggle="buttons-radio">
        <a id="1" href="{% url 'xep_loai_hl_theo_lop' selectedClass.id  1%}" class="btn"> Học kỳ I </a>
        {% ifnotequal termNumber 1%}
            <a id="2" href="{% url 'xep_loai_hl_theo_lop' selectedClass.id  2%}" class="btn"> Học kỳ II </a>
            <a id="3" href="{% url 'xep_loai_hl_theo_lop' selectedClass.id  3%}" class="btn"> Cả năm </a>
        {% else %}
            <div id="2" disabled="disabled" title="Không thể truy cập khi đang ở kì 1" class="btn"> Học kỳ II </div>
            <div id="3" disabled="disabled" title="Không thể truy cập khi đang ở kì 1" class="btn"> Cả năm </div>
        {% endifnotequal %}
    </div>

    <div id="submenu" class="btn-toolbar">
        {% if isSchool %}        
            <a id="tinhtrungbinh" class="btn btn-primary" href="{% url 'xep_loai_hl_theo_lop' selectedClass.id  termNumber 1%}" >
            Tính điểm trung bình và xét danh hiệu
            </a>
        {% endif %}
        {% if request.user.userprofile.organization.level == 'T' %}
            <span class="pull-right dimmed" >
                <label>
                    Để nhập hạnh kiểm hãy nhập một chữ cái:
                    <span class="label label-success">T</span> Tốt,
                    <span class="label label-info">K</span> Khá,
                    <span class="label label-warning">B</span> Trung bình,
                    <span class="label label-important">Y</span> Yếu.
                </label>
            </span>
        {% endif %}    
    </div>

    <table id="mark-table" class="table table-bordered grid fifth-row">
    <thead>
        <tr>
            <th rowspan=2 style="width:4px">
                STT
            </th>
            <th colspan=2 rowspan=2 >
                Họ và tên
            </th>
            <th rowspan=2 width="1%">
                Ngày sinh
            </th>
            {% for s in subjectList %}

                <th rowspan=2 class="mark-column">
                    {% if s.name == 'GDQP-AN' or  s.name == 'GDQP' %}
                        GD<br>QP<br>AN
                    {% else %}
                        {% if s.name == 'GDCD' %}
                            GD<br>CD
                        {% else %}
                            {{ s.name }}
                        {% endif %}
                    {% endif %}
                </th>
            {% endfor %}
            <th rowspan=2 width="" >
                TB
            </th>
            <th colspan=3 width="" >
                Kết quả xếp loại và thi đua
            </th>
        </tr>
        <tr>
            <th> HL</th>
            <th> HK</th>
            <th> DH</th>
        </tr>
    </thead>
    <tbody>
        {% for p,m,tbhocky,hk in list %}
            <tr class="{{ p.id }}">
                <td >
                    {{ forloop.counter }}
                </td>
                <td class="lastname align-left" >
                    {{ p.last_name }}
                </td>
                <td class="firstname align-left">
                    {{ p.first_name }}
                </td>
                <td>
                    {{ p.birthday|date:"SHORT_DATE_FORMAT" }}
                </td>
                {% for s in m %}
                    {% ifequal s 'MG' %}
                        <td style="color:red;">
                            MG
                        </td>
                    {% else %}
                        <td >
                            {{ s }}
                        </td>
                    {% endifequal %}
                {% endfor %}
                {% ifnotequal termNumber  3 %}
                    <td>
                        {% if tbhocky.tb_hk %}
                            {{ tbhocky.tb_hk }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td>
                        {{ tbhocky.hl_hk|convertHlToVietnamese }}
                    </td>
                    <td>
                        {% if isSchool %}
                        <input type="text" class="input-mini hk"
                        data-old-value="{{ hk|default_if_none:'' }}"
                        value="{{ hk|default_if_none:'' }}"/>
                        {% else %}
                            {{ hk|convertHKToVietnamese }}
                        {% endif %}
                    </td>

                    <td>
                        {{ tbhocky.danh_hieu_hk|convertDHToVietnamese }}
                    </td>

                {% else %}
                    <td>
                        {% if tbhocky.tb_nam %}
                            {{ tbhocky.tb_nam }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>

                    <td>
                        {{ tbhocky.hl_nam|convertHlToVietnamese }}
                    </td>
                    <td>
                        {% if isSchool %}
                        <input type="text" class="input-mini hk"
                        data-old-value="{{ hk.year|default_if_none:'' }}"
                        value="{{ hk.year|default_if_none:'' }}"/>
                        {% else %}
                            {{ hk.year|convertHKToVietnamese }}
                        {% endif %}
                    </td>

                    <td>
                        {{ tbhocky.danh_hieu_nam|convertDHToVietnamese }}
                    </td>
                {% endifnotequal %}

            </tr>
        {% endfor %}
    </tbody>
    </table>
    {% if isSchool %}
        <div class="pagination-right">
            <p class="dimmed">Típ: có thể dùng phím ENTER hoặc các phím mũi tên để di chuyển.</p>
        </div>
    {% endif %}

    {% if message != None %}
        <script>
            var temp = document.getElementById("notify1");
            temp.innerHTML = "{{message}}";
            $(temp).fadeIn('fast');
            $(temp).delay(7000).fadeOut('fast');

        </script>
    {% endif %}

{% endblock %}
