{% extends "teacher/index.html" %}
{% load bootstrap %}
{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Thông tin lớp học' %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/teacher/jquery.ajaxform.js?{{ VERSION }}"></script>
    <script>
        $(document).ready(function () {
            var callback = function(json){
                window.location = "{% url class_view user_teacher.id cl_id 'view' %}";
            };
            $("#modifyClassForm").ajaxForm({
                'callback': callback});
            $("#back").click(function(){
                window.location = "{% url class_view user_teacher.id cl_id 'view' %}";
            });
        });
    </script>
{% endblock %}


{% block content %}
    <h2>Thông tin lớp</h2>
    <form class="form-horizontal"
          id="modifyClassForm" method="post">{% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-actions">
            <button class="btn btn-primary" id="sendClass">Lưu</button>
            <button class="btn" id="back" title="Không lưu và quay trở lại trang trước">Hủy</button>
        </div>
    </form>
{% endblock %}
