{% extends "teacher/index.html" %}
{% load bootstrap %}
{% block breadcrumb %}
  {{ block.super }}
  {% load breadcrumb_tags %}
  {% add_crumb 'Thêm lớp học' %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/teacher/jquery.ajaxform.js?{{ VERSION }}"></script>
    <script type="text/javascript" src="/static/js/teacher/create_class.js?{{ VERSION }}"></script>
{% endblock %}


{% block content %}
<h2>Tạo lớp mới</h2>
<form class="form-horizontal"
  id="createClassForm" method="post">{% csrf_token %}
  {{ form|bootstrap }}
  <div class="form-actions">
    <button class="btn btn-primary" id="sendClass">Lưu</button>
    <button class="btn">Hủy</button>
  </div>
</form>
{% endblock %}
