{% extends "teacher/index.html" %}
{% load bootstrap %}
{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb class  %}
    {% add_crumb student %}
    {% add_crumb 'Thêm điểm' %}
{% endblock %}

{% block content %}
    {% if success %}
    <h2>Thêm điểm</h2>
    <form class="form-horizontal"
          id="createMarkForm" method="post">{% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-actions">
            <button class="btn btn-primary" id="send">Lưu</button>
            <button class="btn">Hủy</button>
        </div>
    </form>
    {% else %}
        <h2>{{ message }}</h2>
    {% endif %}
{% endblock %}
