{% extends "teacher/index.html" %}
{% load bootstrap %}
{% block breadcrumb %}
  {{ block.super }}
  {% load breadcrumb_tags %}
  {% add_crumb 'Thêm học sinh' %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/teacher/jquery.ajaxform.js?{{ VERSION }}"></script>
    <script type="text/javascript" src="/static/js/teacher/student-create.js?{{ VERSION }}"></script>
    <script>
        $(document).ready(function () {
            $("#back").click(function(){
                window.location = "{% url class_view user_teacher.id cl_id "view"%}";
                return false;
            });
        });
    </script>
{% endblock %}

{% block content %}
<h2>Thêm học sinh</h2>
<form class="form-horizontal"
  id="createStudentForm" method="post">{% csrf_token %}
  {{ form|bootstrap }}
  <div class="form-actions">
    <button class="btn btn-primary" id="sendRegister">Lưu</button>
    <button class="btn" id="back">Hủy</button>
  </div>
</form>
{% endblock %}
