.googlePlusPopupButton {
    background-color: white;
    /*background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);*/
    /*background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);*/
    /*background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);*/
    /*background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);*/
    /*background-image: linear-gradient(top, #f5f5f5, #f1f1f1);*/
    color: #444;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    -moz-user-select: none;
    -o-text-overflow: ellipsis;
    -o-user-select: none;
    -webkit-user-select: none;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    outline: 2px;
    padding: 0 4px 0 4px;
}

.googlePlusPopupDiv {
    background-color: white;
    /*background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);*/
    /*background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);*/
    /*background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);*/
    /*background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);*/
    /*background-image: linear-gradient(top, #f5f5f5, #f1f1f1);*/
    color: #444;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    line-height: 27px;
    font-weight: bold;
    text-align: left;
    outline: 2px;
    padding: 2px 4px;
    max-height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.googlePlusPopupDiv::-webkit-scrollbar {
    width: 10px;
}

/*.googlePlusPopupDiv-moz-appearance:scrollbar{*/
    /*width: 20px;*/
/*}*/

/* Track */
.googlePlusPopupDiv::-webkit-scrollbar-track{
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

/*.googlePlusPopupDiv-moz-appearance:scrollbartrack-vertical{*/
    /*border-radius: 2px;*/
    /*-moz-border-radius: 2px;*/
/*}*/



.googlePlusPopupDiv::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

/* Handle */
.googlePlusPopupDiv::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    /*color: rgb(221, 214, 214);*/
    background: rgb(193, 187, 187);
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
.googlePlusPopupDiv::-webkit-scrollbar-thumb:hover {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    /*color: rgb(221, 214, 214);*/
    background: #F3A934;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}

.googlePlusPopupDiv::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,1);
}

.googlePlusPopupShadow {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.popupSelectOption {
    cursor: pointer;
    position: relative;
    line-height: 27px;
    text-align: left;
    padding: 2px;
}

input[type='checkbox'].googlePlusPopupCheckbox {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, .05);
    border: 1px solid #c6c6c6;
    border: 1px solid rgba(155, 155, 155, .57);
    font-size: 1px;
    height: 11px;
    margin: 0 4px 0 1px;
    outline: 0;
    vertical-align: text-bottom;
    width: 11px;
    cursor: pointer;
}

input[type='checkbox'].googlePlusPopupCheckbox:checked {
    background: url(/images/checkmark.png) no-repeat -5px -3px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, .05);
    border: 1px solid #c6c6c6;
    border: 1px solid rgba(155, 155, 155, .57);
    font-size: 1px;
    height: 11px;
    margin: 0 4px 0 1px;
    outline: 0;
    vertical-align: text-bottom;
    width: 11px;
    cursor: pointer;
}