/* ------------------------------------------------------------
	NUMBER OF COLUMNS: Adjust #primaryNav li to set the number
	of columns required in your site map. The default is
	4 columns (25%). 5 columns would be 20%, 6 columns would
	be 16.6%, etc.
------------------------------------------------------------ */

#primaryNav li {
	width:25%;
}

#primaryNav li ul li {
	width:100% !important;
}

#primaryNav.col1 li { width:99.9%; }
#primaryNav.col2 li { width:50.0%; }
#primaryNav.col3 li { width:33.3%; }
#primaryNav.col4 li { width:25.0%; }
#primaryNav.col5 li { width:20.0%; }
#primaryNav.col6 li { width:16.6%; }
#primaryNav.col7 li { width:14.2%; }
#primaryNav.col8 li { width:12.5%; }
#primaryNav.col9 li { width:11.1%; }
#primaryNav.col10 li { width:10.0%; }

/* ------------------------------------------------------------
	General Styles
------------------------------------------------------------ */

body {
	background: white;
	color: black;
	padding: 40px;
	font-family: Gotham, Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1;
}

.sitemap {
	margin: 0 0 0px 0;
	float: left;
	width: 1000 ;
}
#myCanvas  { 
	position:absolute; 
	z-index:-1;
	float: left;
}
h1 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 0 5px 0;
}
h2 {
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 10px;
	color: #777777;
	margin: 0 0 20px 0;
}
a {
	text-decoration: none;
}
ol, ul {
    padding: 0;
	list-style: none;
}


/* ------------------------------------------------------------
	Site Map Styles
------------------------------------------------------------ */

/* --------	Top Level --------- */

#primaryNav {
	margin: 0;
	float: left;
	width: 100%;
}
#primaryNav #home {
	margin: -20px 0 30px 0;
	width: 100%;
	float: right;
	padding: 10px 0 0px 0;
	
}
#primaryNav .first {
	margin: -20px 0 30px 0;
	width: 100%;
	float: right;
	padding: 10px 0 0px 0;
}
/*#primaryNav #first a{
	background-color:#3b609c;
	border-color: #666;
}
#primaryNav #first a:hover{
	background-color:#FFAF3F;
	border-color: #fff;
}*/
#primaryNav li {
	float: left;
	padding: 30px 0;
	margin-top: -30px;
}
#primaryNav li a {
	margin: 0 20px 0 0;
	padding: 10px 0;
	display: block;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: white;
	border: 1px solid #666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; 
	-moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */	
}
#primaryNav li a:hover {
	background-color:#0B5EF4;
	border-color: #fff;
}
#primaryNav li:last-child {
}
#primaryNav li a:link:before,
#primaryNav li a:visited:before {
	color: #78a9c0;
}

/* --------	Second Level --------- */

#primaryNav li li {
	width: 100%;
	clear: left;
	margin-top: 15;
	padding: 0px 0 0 0;
}
#primaryNav li li a, #primaryNav #home a {
    position: relative;
    border: thin solid #547ec2;
    background: #547ec2;
    background: -moz-linear-gradient(top, #6395e5 0%, #547ec2 100%);
    background: -webkit-linear-gradient(top, #6395e5 0%, #547ec2 100%);
    background: -o-linear-gradient(top, #6395e5 0%, #547ec2 100%);
    background: -ms-linear-gradient(top, #6395e5 0%, #547ec2 100%);
    background: linear-gradient(top, #02779E 0%, #64B6B1 100%); 
}
#primaryNav li li a:hover, #primaryNav #home a:hover{
    border: 1px solid #fff;
    background-color: #364F78;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#364f78), to(#4787ED));
    background-image: -webkit-linear-gradient(top, #364f78, #4787ED);
    background-image: -moz-linear-gradient(top, #364f78, #4787ED);
    background-image: -ms-linear-gradient(top, #364f78, #4787ED);
    background-image: -o-linear-gradient(top, #364f78, #4787ED);
    text-decoration: none;
}
#primaryNav li li:first-child {
	padding-top: 30px;
}
#primaryNav li li:last-child {
}
#primaryNav li li a:link:before,
#primaryNav li li a:visited:before {
	color: #8faf5c;
}

/* --------	Third Level --------- */

#primaryNav li li ul {
	margin: 10px 0 0 0;
	width: 100%;
	float: right;
	padding: px 0 0px 0;
}
#primaryNav li li li {
	padding: 0px 0;
}
#primaryNav li li li a {
    position: relative;
    border: thin solid #547ec2;
	background-color:#b5caed; 
	border-color: #666;
	font-size: 10px;
	padding: 4px 0;
	width: 80%;
	float: right; 
}
#primaryNav li li li a:hover {
	background-color: #0B5EF4;
	border-color: #fff;
}
#primaryNav li li li:first-child {
	padding: 0px 0 0px;
}
#primaryNav li li li:last-child {
}
#primaryNav li li li a:link:before,
#primaryNav li li li a:visited:before {
	color: #ccae14;
	font-size: 9px;
}
