.leftTabTree{
    border-right: 0;
    float: left;
    padding: 0 20px 0 0;
    vertical-align: top;
    min-width: 100px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
}
.tabContent{
    float: left;
    background-color: white;
    border: 1px solid #EBEBEB;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    display: inline-block;
    min-height: 500px;
    min-width: 574px;
}
#tabTreeList li{
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    margin-top: 3px;
    margin-bottom: 3px;
}

.truongnha-current-tab a{
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #C6322A;
    background-color: #D84A38;
    background-image: -moz-linear-gradient(top, #DD4B39, #D14836);
    background-image: -ms-linear-gradient(top, #DD4B39, #D14836);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DD4B39), to(#D14836));
    background-image: -webkit-linear-gradient(top, #DD4B39, #D14836);
    background-image: -o-linear-gradient(top, #DD4B39, #D14836);
    background-image: linear-gradient(top, #DD4B39, #D14836);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b39', endColorstr='#d14836', GradientType=0);

}
.truongnha-current-tab a:hover{
    color: white;
    border: 1px solid #AF301F;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #d34332;
    background-image: -moz-linear-gradient(top, #dd4b39, #c53727);
    background-image: -ms-linear-gradient(top, #dd4b39, #c53727);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4b39), to(#c53727));
    background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
    background-image: -o-linear-gradient(top, #dd4b39, #c53727);
    background-image: linear-gradient(top, #dd4b39, #c53727);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b39', endColorstr='#c53727', GradientType=0);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
