{% load upload_tags %}
<div class="notify-widget-pane">
    <button style="display:none;background: none;border: none;" id="buttonSave" onclick="update()">
        <span id="messageChanging" class="notify"></span>
    </button>
</div>

<div id="submenu" class="btn-toolbar">
    <div class="btn-group">
{#        <button onclick="showMessageTable(1);" class="btn btn-info pull-right" id="show_SMS_buttons">#}
{#            Nhắn tin <i class="icon-chevron-right"></i></button>#}
{#        <span style="display:none" id="hide_SMS_buttons">#}
{#                <button onclick="showMessageTable(0);" class="btn btn-info">#}
{#                    <i class="icon-chevron-left"></i>#}
{#                    {% if enableChangeMark %}#}
{#                        Nhập điểm#}
{#                    {% else %}#}
{#                        Bảng điểm#}
{#                    {% endif %}#}
{#                </button>#}
{#                <button onclick="selectNoSent()" class="btn btn-success sms-toolbar">#}
{#                    <i class="icon-check"></i>#}
{#                    Chọn điểm chưa nhắn#}
{#                </button>#}
{#                <button onclick="sendSMS()" class="btn btn-warning sms-toolbar">#}
{#                    <i class="icon-envelope"></i>#}
{#                    Gửi tin nhắn#}
{#                </button>#}
{#        </span>#}
    </div>

    <div class="form-inline btn-group pull-right">
        {% if enableChangeMark %}
            <div class="btn-group">
            <a id="mark-menu" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
{#                Khác#}
                <i class="icon-reorder"></i>
            </a>

            <ul class="dropdown-menu pull-right">
            <li>
                <a title="Nhập danh sách học sinh từ file Excel"
                   href="#upload_modal"
                   data-toggle="modal"
                   id="import">
                    <i class="icon-upload-alt"></i>
                    Nhập từ Excel </a>
            </li>

            <li>
                <a id="export" href="{% url 'export_mark' termChoice subjectChoice %}">
                    <i class="icon-download-alt"></i>
                    Xuất ra Excel </a>
            </li>
                <li>
                    <a id="nextcell"
                       title="Chuyển sang ô tiếp theo bằng {enter} hoặc {tab}">
                        <i class="icon-move"></i>
					<span id="textNextcell">
					{% if move == '0' %}
                        Nhập theo cột
                    {% else %}
                        Nhập theo hàng
                    {% endif %}
					</span>
                    </a>
                </li>
            </ul>
            </div>
        {% else %}
            <a class="btn" href="{% url 'export_mark' termChoice subjectChoice %}">
                <i class="icon-download-alt"></i>
                Xuất ra Excel </a>
        {% endif %}
    </div>
</div>
<div id="editWindow" class="popup-windows">
    <section style="width: 350px; padding: 3px; float: right; background-color: #f5f5f5; margin-top: 0;">
        <div class="mainSMS">
            <table class="table table-condensed no-border">
                <tr>
                    <td>Ghi chú cho điểm học sinh</td>
                </tr>
                <tr>
                    <td>
                        <textarea class="smsContext popupTextarea"
                                  id="editContent"
                                  rows="3"
                                  style="width: 300px; max-width: 300px;">
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="saveNote" class="btn btn-primary">
                            Lưu
                        </button>
                        <button id="editClose" class="btn">
                            Thôi
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</div>

<div class="modal fade" id="upload_modal" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>

        <h3>Nhập điểm từ excel</h3>
    </div>
    <div class="modal-body">
        <!-- The file upload form used as target for the file upload widget -->
        <form id="fileupload" action="#" method="POST" enctype="multipart/form-data">
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <div class="fileupload-buttonbar">
                <div class="span5">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                        <span class="btn btn-success fileinput-button">
                            <i class="icon-plus icon-white"></i>
                            <span>Chọn files...</span>
                            <input type="file" name="files[]" multiple>
                        </span>
                </div>
                <div class="span3">
                    <!-- The global progress bar -->
                    <div class="progress progress-success progress-striped active fade">
                        <div class="bar" style="width:0;"></div>
                    </div>
                </div>
            </div>
            <!-- The loading indicator is shown during image processing -->
            <div class="fileupload-loading"></div>
            <br>
            <!-- The table listing the files available for upload/download -->
            <table class="table table-striped">
                <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery">

                </tbody>
            </table>
        </form>
        <div id="errorDetail" style="color:#FF4500">
        </div>
        <div id="diffMessage" style="display:none">
            <button id="update" class="btn btn-primary">Cập nhật</button>
            <button id="noUpdate" class="btn btn-success">Không cập nhật</button>
        </div>

        <div class="hint">
            <p>
            Chú ý: Phải dùng theo
            <a id="buttonExport" style="cursor:pointer"> mẫu này</a>
            (lấy mẫu file excel với số cột tùy ý)
            </p>
            <p>
                Nếu bạn gặp trục trặc khi nhập dữ liệu từ file Excel, bạn có thể gửi file cho chúng tôi đến email: support@truongnha.com và chỉ ra tên lớp trong email. Chúng tôi sẽ hỗ trợ nhập file cho bạn.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" id="upload-modal-exit">Thôi</a>
    </div>
</div>

<div id="dialogExport" style="display:none">
    Chọn số lượng cột điểm.<br><br>
    Miệng
    <select id="colMiengExport" style="width:70px">
        {% for i in secondLoop %}
            {% if i == 4 %}
                <option value="{{ i }}" selected> {{ i }} </option>
            {% elif i > 4 %}
                <option value="{{ i }}"> {{ i }} </option>
            {% endif %}
        {% endfor %}
    </select>
    &nbsp;&nbsp;&nbsp; 15 phút
    <select id="col15PhutExport" style="width:70px">
        {% for i in secondLoop %}
            {% if i == 4 %}
                <option value="{{ i }}" selected> {{ i }} </option>
            {% elif i > 4 %}
                <option value="{{ i }}"> {{ i }} </option>
            {% endif %}
        {% endfor %}
    </select>
    &nbsp;&nbsp;&nbsp; Một tiết
    <select id="colMotTietExport" style="width:70px">
        {% for i in secondLoop %}
            {% if i == 4 %}
                <option value="{{ i }}" selected> {{ i }} </option>
            {% elif i > 4 %}
                    <option value="{{ i }}"> {{ i }} </option>
            {% endif %}
        {% endfor %}
    </select>
    &nbsp;&nbsp;&nbsp;
    <a href="{% url 'export_mark' termChoice subjectChoice %}" id="finishExport" class="btn"> Tải về</a>
</div>
{% upload_js %}
