{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row-fluid">
        <div class="span6 alert alert-error">
            <div class="lead">Địa chỉ bạn truy cập không tồn tại. Xin vui lòng chọn các lựa chọn dưới đây.</div>

            <a class="btn btn-primary btn-large" href="/"><i class="icon-home"></i> Trở về trang chủ</a>

            <a class="btn btn-warning btn-large" href="{% url django.contrib.auth.views.logout %}"><i class="icon-signout"></i> Đăng xuất để thử lại</a>
        </div>
    </div>
{% endblock %}

