<!DOCTYPE html>
<html lang="vi">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        {% if user.is_anonymous %}
            <title>Trường Nhà</title>
        {% else %}
            <title>Trường Nhà - {{ user.userprofile.organization.name }}</title>
        {% endif %}
    {% endblock %}
    <link rel="shortcut icon" href="/static/images/favicon.ico"/>

{#    {% load compress %}#}
{#    {% compress css %}#}
        <link href="/static/css/smoothness/jquery-ui-1.8.21.custom.css" rel="stylesheet" type="text/css"
              media="screen"/>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="/static/font-awaresome/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="/static/metroui/metro.css">
        <link href="/static/css/datepicker.css" rel="stylesheet"/>
        <link href="/static/css/jquery_file_upload/jquery.fileupload-ui.css" rel="stylesheet" type="text/css"
              media="screen"/>
        <link href="/static/css/truongnha.css?{{ VERSION }}" rel="stylesheet" type="text/css"/>
        <link href="/static/css/template_css/popup.css?{{ VERSION }}" rel="stylesheet" type="text/css"/>

        <link href="/static/joyride/joyride.css" rel="stylesheet">
{#    {% endcompress %}#}


    {% block css %}
        <!-- For extra css -->
    {% endblock %}

{#    {% compress js %}#}
        <script type="text/javascript"
                src="/static/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript"
                src="/static/js/jquery-ui-1.8.21.custom.min.js"></script>
        <script type="text/javascript"
                src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript"
                src="/static/js/bootstrap-datepicker.min.js"></script>
        <script type="text/javascript"
                src="/static/js/jquery_file_upload/tmpl.min.js"></script>
        <script type="text/javascript"
                src="/static/js/jquery_file_upload/jquery.fileupload.min.js"></script>
        <script type="text/javascript"
                src="/static/js/jquery_file_upload/jquery.fileupload-ui.min.js"></script>
        <script type="text/javascript"
                src="/static/js/jquery_file_upload/jquery.iframe-transport.min.js"></script>
        <script type="text/javascript"
                src="/static/js/Class.create.min.js"></script>
        <script type="text/javascript"
                src="/static/js/jquery-encoder-0.1.0.js"></script>
        <script type="text/javascript"
                src="/static/js/template_js/base.js?{{ VERSION }}"></script>
        <script type="text/javascript"
                src="/static/joyride/joyride.js"></script>
{#    {% endcompress %}#}

    {% if not debug %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-5180820-2']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% endif %}

    {% block js %}
        <!-- For extra js -->
    {% endblock %}
    <!--[if lt IE 9]>
	  <script type="text/javascript" src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	  <![endif]-->

</head>

<body>
<header id="top-header" class="dimmed">
    {% if SYSTEM_WARNING %}
        <div class="alert alert-block" style="padding-top:5px; padding-bottom:5px; margin-bottom:0px;">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Thông báo!</strong> {{ SYSTEM_WARNING }}
        </div>
    {% endif %}
    <div class="container-fluid">
        <div id="school-info" class="pull-left">
            <span class="lead">
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        Quản trị hệ thống Trường Nhà
                    {% else %}
                        <span id="school-name">{{ user.userprofile.organization.name }}</span>
                        <small> {{ user.userprofile.organization.get_status }}</small>
                    {% endif %}
                {% else %}
                    Dịch vụ phần mềm quản lý trường học
                {% endif %}
            </span>
        </div>
        <div id="user-info" class="pull-right">
            {% if user.is_authenticated %}
                {% if not user.is_superuser %}
                    <a href="/app/{{ user.username }}"
                       title="Sửa thông tin người sử dụng, đổi mật khẩu, đổi tên tài khoản.">
                        <i class="icon-user"></i>
                        <span class="hidden-phone">
                            {% if user.pupil_id %}
                                {{ user.pupil.last_name }} {{ user.pupil.first_name }}
                            {% elif user.teacher_id %}
                                {{ user.teacher.last_name }} {{ user.teacher.first_name }}
                            {% else %}
                                {{ user.first_name }}
                            {% endif %}
                            <small>({{ user.username }})</small>
                        </span>
                    </a>

                    <a id="logout" href="{% url django.contrib.auth.views.logout %}"
                       title="Thoát ra, kết thúc phiên làm việc. BẠN PHẢI ĐĂNG XUẤT NẾU ĐĂNG NHẬP TRÊN CÁC MÁY TÍNH DÙNG CHUNG ĐỂ TRÁNH NGƯỜI KHÁC THAY ĐỔI DỮ LIỆU.">
                        <i class="icon-signout"></i>&nbsp;Đăng xuất
                    </a>
                {% else %}
                    {{ user.last_name }} {{ user.first_name }}
                    <small>({{ user.username }})</small>

                    <a href="{% url django.contrib.auth.views.logout %}">
                        Đăng xuất <i class="icon-signout"></i>
                    </a>
                {% endif %}
            {% else %}
                <a class="hidden-phone" href="{% url index %}">
                    <img id="logo" src="/static/images/logo.png" alt="logo"
                         title="Dịch vụ phần mềm quản lý trường học"/>
                </a>
            {% endif %}
        </div>
    </div>


</header>

<nav >
    <div class="container-fluid">
        <div id="breadcrumb" class="pull-left">
            <a id="breadcrumb-home" href="{% url index %}" title="Trang bắt đầu">
                <i class="icon-home" style="color: rgba(255, 69, 0, 0.75);"></i>
                <i class="icon-home" style="color: rgba(0, 136, 204, 0.75);margin-left: -.5em;"></i>
                {#            Trường#}
            </a>

            {% block breadcrumb %}
                {% load breadcrumb_tags %}
                {% add_crumb '' 'index' %}
            {% endblock %}
            {% render_breadcrumbs %}
        </div>
        <div class="pull-right dimmed">
            {% if user.is_authenticated %}
                <a class="hidden-phone" id="feedback" href="#feedbackWindow">Góp ý</a>&nbsp; &nbsp;

                <a class="hidden-phone" href="{% url index %}" style="font-size: 20px;"
                   title="Dịch vụ phần mềm quản lý trường học">
{#                                        <img id="logo" src="/static/images/logo.png" alt="logo" style="vertical-align: top"#}
{#                                             title="Dịch vụ phần mềm quản lý trường học"/>#}
                    <strong style="color: rgba(255, 69, 0, 0.75);">Trường</strong><strong style="color: rgba(0, 136, 204, 0.75);">Nhà</strong>
                </a>
{#                <a class="hidden-phone" href="{% url index %}">#}
{#                    <img id="logo" src="/static/images/logo.png" alt="logo"#}
{#                         title="Dịch vụ phần mềm quản lý trường học"/>#}
{#                </a>#}
            {% endif %}
        </div>
    </div>
</nav>

<section id="main" class="container-fluid">
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="placeholder" style="clear: both;"></div>
</section>

<div id="feedbackWindow" class="popup-windows">
    <form>
        {% if user.is_anonymous or user.username == 'truongnha_demo_account_school' or user.username == 'truongnha_demo_account_teacher' or user.username == 'truongnha_demo_account_upper' %}
            <label for="feedbackUsername">Họ và tên</label>
            <input class="span3" type="text" id="feedbackUsername">

            <label for="feedbackUserEmail">Email</label>
            <input class="span3" type="email" value="" id="feedbackUserEmail"
                   placeholder="Ví dụ: abc@gmail.com">
        {% endif %}

        <label for="feedbackContent">Nội dung</label>
        <textarea class="feedbackContext popupTextarea span3"
                  id="feedbackContent"
                  rows="7"
                  placeholder="Nhập bất kỳ góp ý hoặc thông tin về hệ thống cho chúng tôi"
                ></textarea>

        <div class="btn-toolbar">
            <button class="btn btn-primary" id="sendFeedback">Gửi</button>
            <button class="btn" id="feedbackClose">Thôi</button>
        </div>
    </form>
</div>

<div class="notify-widget-pane">
    <div class="notify" id="notify" style="display: none; z-index: 5000;">
        Đang gửi dữ liệu...
    </div>
</div>


{#    <!-- Run the plugin -->#}
{#    <script type="text/javascript">#}
{#        $(window).load(function() {#}
{#            $(this).joyride();#}
{#        });#}
{#    </script>#}

</body>
</html>
