{% extends "base.html" %}
{% load url from future %}

{#{% block breadcrumb %}#}
{#    {{ block.super }}#}
{#    {% load breadcrumb_tags %}#}
{#    {% add_crumb 'Giới thiệu' %}#}
{#{% endblock %}#}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            var $form = $('#login-form');
            var $loginType = $('#login_type').val('');
            var $username = $('#id_username');
            var $password = $('#id_password');
            $('#demo-login-school').click(function () {
                $loginType.val('DEMO_LOGIN_SCHOOL');
                $username.val('temp');
                $password.val('temp');
                $form.submit();
            });
            $('#demo-login-teacher').click(function () {
                $loginType.val('DEMO_LOGIN_TEACHER');
                $username.val('temp');
                $password.val('temp');
                $form.submit();
            });
            $('#demo-login-upper').click(function () {
                $loginType.val('DEMO_LOGIN_UPPER');
                $username.val('temp');
                $password.val('temp');
                $form.submit();
            })
            $('#demo-login-student').click(function () {
                $loginType.val('DEMO_LOGIN_STUDENT');
                $username.val('temp');
                $password.val('temp');
                $form.submit();
            })
        });
    </script>
{% endblock %}

{% block css %}
    <style type="text/css">
        nav {
            display: none;
        }

        #myCarousel {
        {#            border: #ddd solid thin;#} -moz-box-shadow: 0 0 5px 5px #CCC;
            -webkit-box-shadow: 0 0 5px 5px #CCC;
            box-shadow: 0 0 5px 5px #CCC;
        }

        .carousel-inner {
            border: #ddd thin solid;
            text-align: center;
        }

        .carousel .item > img {
            display: inline-block;
            width: 100%;
        }

            /*.carousel-caption {*/
            /*top: 0;*/
            /*bottom: auto;*/
            /*background: rgba(0, 0,  0, .5);*/
            /*}*/
    </style>
{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
        <div class="row-fluid" style="background-color: #ECFFB3;">
            <div class="pagination-centered hidden-phone" style="padding-top:5em;">
                <i class="icon-home" style="color: rgba(169, 1, 75, 0.8);font-size:10em;"
                   title="Trường học, giáo viên"></i>
                <span style="font-size: 2em">
                    <i class="icon-arrow-left" style="vertical-align:bottom;padding-left: 1em"></i>
                    <span style="font-size: 1.2em;color: green;">
                    <i class="icon-comment-alt" style="" title="Thông báo"></i>
                    <i class="icon-check" style="" title="Điểm danh"></i>
                    <i class="icon-file" style="" title="Điểm, học tập"></i>
                    <i class="icon-trophy" style="" title="Rèn luyện"></i>
                    </span>
                    <i class="icon-arrow-right" style="padding-right: 1em"></i>
                </span>
                <span style="font-size: 6em">
                    <i class="icon-home" style="color: rgba(45, 174, 191, 0.8);" title="Học sinh"></i>
                    <i class="icon-home" style="color: rgba(255, 95, 0, 0.8);margin-left: -.7em;" title="Phụ huynh"></i>
                    <i class="icon-home" style="color: rgba(149, 161, 5, 0.8);;margin-left: -.7em;"
                       title="Gia đình"></i>
                </span>
            </div>
            <div class="pagination-centered" style="font-size: 1.5em;padding: 2em 0 1em 0;">
                <p>
                    Theo dõi điểm, học tập, liên lạc</p>
            </div>
        </div>

        <br>
        <br>
        <div class="row-fluid pagination-centered">
            <div class="span6 control-group">
                <div class="controls">
                    <a class="btn btn-primary btn-large" id="login" href="/login">
                        Đăng nhập</a>

                    <p class="help-block">
                        Cho người đã có tài khoản sử dụng.
                    </p>
                </div>
            </div>
            <div class="span6 control-group">
                <div class="controls">
                    <a class="btn btn-large btn-danger" id="register"
                       href="{% url 'teacher_register' %}">
                        Đăng ký</a>

                    <p class="help-block">
                        Dành cho giáo viên muốn quản lý lớp của mình, lớp dạy thêm.
                    </p>
                </div>
            </div>

        </div>
        <br><br>
    {% endif %}
{% endblock %}