{% extends "base.html" %}
{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Xem thông tin của trường' %}
{% endblock %}

{% block content %}
    <ul>
        {% for a in list %}
            {% if a.status == 0 %}
            {% else %}
                <li class="link-list">
                    <a href="{% url 'view_school' a.id %}">
                        {{ a.name }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
