{% extends "base.html" %}
{% load pagination_tags %}
{% block content %}
  {% if user.is_authenticated %}
    <h2>Gửi tin nhắn SMS</h2>
    <a href="{% url 'school.sms_views.manual_sms' %}" title="Nhập tin nhắn trực tiếp">Nhập trực tiếp</a>
    <br/><br/>

    <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
      <p class="errorlist">{{ error }}</p>

      <p>Chọn file Excel (theo <a href="{{ STATIC_URL }}template_files/sms_template.xls">mẫu</a>):
        <input name="file" type="file"/></p>
      <input type="submit" name="upload" value="Xem trước"/>
      <br/>
      {% if data %}
        {% autopaginate data 30 %}
        <table class="table">
          <col width=100>
          <col width=500/>
          <tr>
            <th>Số điện thoại</th>
            <th>Nội dung</th>
          </tr>
          {% for d in data %}
            <tr>
              <td>{{ d.number }}</td>
              <td>{{ d.content }}</td>
            </tr>
          {% endfor %}
        </table>
        {% paginate %}
        <input type="submit" name="delete" value="Hủy"/>
        <input type="submit" name="send" value="Gửi"/>
      {% endif %}
    </form>
  {% endif %}
{% endblock %}
