{% extends "base.html" %}
{% load bootstrap %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Kích hoạt tài khoản giáo viên' %}
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/js/bootstrap-form-error.js?{{ VERSION }}"></script>
    <script type="text/javascript" src="/static/js/template_js/forget-password.js?{{ VERSION }}"></script>
{% endblock %}

{% block content %}
    <div id="test">

    </div>
    <form class="well form-horizontal" action="" id="id_forgetPasswordForm" method="post">
        {% csrf_token %}
        <legend>Kích hoạt tài khoản giáo viên</legend>
        <div id="id___all__"></div>
        {{ form|bootstrap }}
        <div class="form-actions">
            <button class="btn btn-primary" id="id_sendPassword">Gửi</button>
        </div>
    </form>
    </div>
{% endblock %}