{% block js %}
    {% if teaching_subjects %}
        <script type="text/javascript">
            $(document).ready(function () {
                $.ajax({
                    url:"{% url timetable_teacher %}",
                    global:false,
                    dataType:'html',
                    type:'GET',
                    success:function (response) {
                        $("#tkb").html(response);
                        applyListener();
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}

{% block css %}
    <link href="/static/css/template_css/timetable.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        a.btn {
            margin-top: 2.12766%;
        }

        a.btn:nth-child(odd) {
            margin-left: 0;
            margin-right: 0;
        }

        h3 {
            color: #FFF;
            font-weight: normal;
            padding: 0;
            margin: 0;
        }
    </style>
{% endblock %}

{% if user.userprofile.position == 'GIAO_VIEN' %}
    <div class="row-fluid">
        <div class="span3">
            <h2>Lớp phụ trách</h2>

            <div class="row-fluid">
                {% if teaching_class %}
                    <a class="span12 btn-success btn"
                       href="{% url class_detail teaching_class.id %}"
                       title="Quản lý lớp này">
                        <h3>{{ teaching_class }}</h3>
                        <p>Chủ nhiệm lớp</p>
                    </a>
                {% endif %}
            </div>

            {% if teaching_subjects %}
                {% for subject in teaching_subjects %}
                    <a class="span6 btn btn-primary"
                       href="{% url mark_for_teacher 1 term.id subject.id %}"
                       title="Nhập điểm lớp này">
                        <h3>{{ subject.class_id }}</h3>
                        <p>{{ subject.name }}</p>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
        <div class="span3">
            <h2>Thông tin trường học</h2>

            <div class="tiles">
                {# Giáo viên và học sinh #}
                <a class="span6 btn btn-info" href="{% url teachers %}"
                   title="Quản lý danh sách giáo viên, cán bộ trong trường">
                    <h3><i class="icon-user icon-large"></i></h3>
                    <p>Giáo viên</p>
                </a>
                <a class="span6 btn btn-info" href="{%url classes %}" title="Danh sách lớp học">
                    <h3><i class="icon-th-large icon-large"></i></h3>
                    <p>Lớp học</p>
                </a>
                <a class="span6 btn btn-info" href="{%url timetable_school %}"
                   title="Thời khóa biểu toàn trường">
                    <h3><i class="icon-calendar icon-large"></i></h3>

                    <p>Lịch học</p>
                </a>
                <a class="span6 btn btn-info" href="{% url info %}" title="Thông tin về trường học">
                    <h3><i class="icon-flag icon-large"></i></h3>

                    <p>Trường</p>
                </a>
                <a class="span6 btn btn-info" href="{%url views.about %}"
                   title="Giới thiệu, liên lạc, góp ý">
                    <h3><i class="icon-info-sign  icon-large"></i></h3>

                    <p>Liên hệ</p>
                </a>

                <a class="span6 btn btn-info" href="{%url help.views.help %}"
                   title="Hướng dẫn sử dụng">
                    <h3><i class="icon-question-sign icon-large"></i></h3>

                    <p>Trợ giúp</p>
                </a>
            </div>
        </div>
        <div id="tkb" class="span6">

        </div>
    </div>
{% else %}
    {% if user.userprofile.position == 'HOC_SINH' %}

    {% endif %}
{% endif %}


<!-- Tip Content -->
<ol id="joyRideTipContent">
    <li data-id="command-help" data-text="Tiếp" class="">
        <p>Hướng dẫn trang.</p>
    </li>
    <li data-id="classes" data-text="Next" data-options="tipLocation:top;tipAnimation:fade">
        <p>Nhập điểm, điểm danh, hạnh kiểm, quản lý môn học, phân giáo viên giảng dạy, v.v.</p>
    </li>
    <li data-id="command-report" data-text="Đóng">
        <p>Kích chuột vào các nút để thực hiện các chức năng quản lý cấp trường</p>
    </li>
</ol>
