{% block content %}
    <div id="lschuyenlop" class="span6">
        <h3>Lịch sử chuyển lớp</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th width="10%" class="align-left"> Lớp</th>
                <th width="40%" class="align-left"> Ngày vào lớp</th>
                <th width="40%" class="align-left"> Ngày chuyển đi</th>
            </tr>
            </thead>

            <tbody>
            {% for a,c in attendlist %}
                <tr>
                    <td> <a title="Xem lớp học này" href="{% url class_detail a.get_class_id %}">{{ a.get_class }}</a></td>
                    <td> {{ a.attend_time|date:"SHORT_DATE_FORMAT" }}</td>
                    <td> {% if a.leave_time != None %}
                        {{ a.leave_time|date:"SHORT_DATE_FORMAT" }}
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

{% endblock %}