{% extends "base.html" %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb class 'class_detail' class.id %}
    {% add_crumb 'Thời khóa biểu' %}
    {#    {% add_crumb teacher %}#}
{% endblock %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#timeselect").each(function () {
                $(this).change(function () {
                    window.location = "{%url school_index  %}timetableStudent/" + $(this).val().split('/')[0] + '/' + $(this).val().split('/')[1] + '/' + $(this).val().split('/')[2];
                    //alert($(this).val());
                });
            });
        });
    </script>
    <p>Thời khóa biểu lớp {{ class }} ngày <input id="timeselect" class="datepicker" type="text" name="ngay"
                                                  value="{{ today|date:"SHORT_DATE_FORMAT" }}"/></p>

    <table class="table table-bordered" style="table-layout:fixed; width:70%">
        <colgroup>
            <col style="width: 10%;"/>
            <col style="width: 10%;"/>
            <col style="width: 10%;"/>
            <col style="width: 10%;"/>
            <col style="width: 10%;"/>
            <col style="width: 10%;"/>
            <col style="width: 10%;"/>
            <col style="width: 10%;"/>
            <col style="width: 10%;"/>
            <col style="width: 10%;"/>
        </colgroup>
        <thead>
        <tr>
            <th>Tiết 1</th>
            <th>Tiết 2</th>
            <th>Tiết 3</th>
            <th>Tiết 4</th>
            <th>Tiết 5</th>
            <th>Tiết 6</th>
            <th>Tiết 7</th>
            <th>Tiết 8</th>
            <th>Tiết 9</th>
            <th>Tiết 10</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% if tkb.period_1 %}
                <td>
                    <p>{{ tkb.period_1 }}</p>

                    <p title="Giáo viên">{{ tkb.period_1.teacher_id }}</p>
                </td>
            {% else %}
                <td></td>
            {% endif %}

            {% if tkb.period_2 %}
                <td>
                    <p>{{ tkb.period_2 }}</p>

                    <p title="Giáo viên">{{ tkb.period_2.teacher_id }}</p>
                </td>
            {% else %}
                <td></td>
            {% endif %}



            {% if tkb.period_3 %}
                <td>
                    <p>{{ tkb.period_3 }}</p>

                    <p title="Giáo viên">{{ tkb.period_3.teacher_id }}</p>
                </td>
            {% else %}
                <td></td>
            {% endif %}

            {% if tkb.period_4 %}
                <td>
                    <p>{{ tkb.period_4 }}</p>

                    <p title="Giáo viên">{{ tkb.period_4.teacher_id }}
                    </p>
                </td>
            {% else %}
                <td></td>
            {% endif %}

            {% if tkb.period_5 %}
                <td>
                    <p>{{ tkb.period_5 }}</p>

                    <p title="Giáo viên">{{ tkb.period_5.teacher_id }}</p>
                </td>
            {% else %}
                <td></td>
            {% endif %}



            {% if tkb.period_6 %}
                <td>
                    <p>{{ tkb.period_6 }}</p>

                    <p title="Giáo viên">{{ tkb.period_6.teacher_id }}</p>
                </td>
            {% else %}
                <td></td>
            {% endif %}


            {% if tkb.period_7 %}
                <td>
                    <p>{{ tkb.period_7 }}</p>

                    <p title="Giáo viên">{{ tkb.period_7.teacher_id }}</p>
                </td>
            {% else %}
                <td></td>
            {% endif %}


            {% if tkb.period_8 %}
                <td>
                    <p>{{ tkb.period_8 }}</p>

                    <p title="Giáo viên">{{ tkb.period_8.teacher_id }}</p>
                </td>
            {% else %}
                <td></td>
            {% endif %}


            {% if tkb.period_9 %}
                <td>
                    <p>{{ tkb.period_9 }}</p>

                    <p title="Giáo viên">{{ tkb.period_9.teacher_id }}</p>
                </td>
            {% else %}
                <td></td>
            {% endif %}



            {% if tkb.period_10 %}
                <td>
                    <p>{{ tkb.period_10 }}</p>

                    <p title="Giáo viên">{{ tkb.period_10.teacher_id }}</p>
                </td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
        </tbody>
    </table>

    {% if list %}
        <h2>Các bài học</h2>
        <table class="table" style="table-layout:fixed; width:70%">
            <colgroup>
                <col style="width: 10%;">
                <col style="width: 10%;">
                <col style="width: 80%;">
            </colgroup>
            <thead>
            <tr>
                <th>STT</th>
                <th>Môn</th>
                <th>Tên bài học</th>
                <th>Ghi chú</th>
            </tr>
            </thead>

            <tbody>
            {% for i in list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.subject_id }}</td>
                    {% if i.title %}
                        <td>{{ i.title }}</td>
                    {% else %}
                        <td>Chưa rõ</td>
                    {% endif %}
                    {% if i.note %}
                        <td>{{ i.note }}</td>
                    {% else %}
                        <td>Chưa rõ</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Chưa có bài học chi tiết cho các môn</h2>
    {% endif %}
{% endblock %}
